@import "tailwindcss";

body {
  @apply min-h-screen bg-gradient-to-br from-sky-300 via-blue-200 to-indigo-300;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}